@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
font-family: 'roboto', sans-serif;
text-align: center;
background-color: white;
padding: 50px;
}

.plan {
   width: 280px;
   margin: 0 auto;
   padding: 25px;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   transition: transform 0.2s ease;
}

.plan:hover {
    transform: translatey(-4px);
}

.plan__highlighted {
   border: 2px solid #4337de;
}


.plan__title {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.plan__price {
    font-size: 28px;
    color: #4337de;
    margin-bottom: 12px;
}

span {
    color: #333;
    font-size: 14px;
}

.plan__features {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.plan__feature {
    color: #555;
    margin: 8px 0;
}

.plan__button {
    background-color: #4337de;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2 ease;

}

.plan__button:hover {
    background-color: #372fc3;
}